/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* Box Model Hack */
 * {
      -moz-box-sizing: border-box; /* Firexfox */
      -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
      box-sizing: border-box; /* IE */
 }
html {
    color: #222;
    font-size: 2px;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
body{
	padding: 0px;
	width: 100%;
	height: auto;
	margin: auto;
}
ul{
  width: 60%;
	list-style-type: none;
	margin: 0 auto;
	overflow: hidden;
  padding: 0px;
}
li{
	float: left;
  width: 19.99%;
}
.nav_list a{
	text-decoration: none;
	display: block;
	padding: 14px 16px;
	color: white;
  width: 100%;
}

.nav_list a:hover{
	text-shadow: 0px 0px 10px #005ce6;
}
section{
	text-align: center;
	width: 100%;
}
footer{
	width: 100%;
	text-align: center;
	background:  #66b3ff;
	opacity: 0.8;
  padding-top: 10px;
  color: white;
  font-size: 9rem;
}
header{
  background: #be5a52;
  width: 100%;
  height: 90px;
}
nav{
  width: 100%;
  font-family: signpainter;
  font-size: 30px;
  height: 90px;
  padding-top: 10px;
}
h1{
  font-style: italic;
  font-size: 25rem;
	opacity: 0.9;
	font-family: signpainter;
	color: #be5a52;
  display: block;
  text-align: center;
  margin-top: 0px;
  height: 120px;
  text-shadow: 1px 1px 0px white;
}
article{
  border-radius: 10px;
  float: right;
  width: 50%;
  background: #be5a52;
  color: white;
  height: 300px;
  font-size: 8rem;
  margin-top: 10px;
  margin-right: 60px;
  text-align: left;
  padding-left: 5px;
  text-shadow: 1px 1px 0px #66b3ff;
  font-family: copperplate;
}
.wrapper{
  margin: 0 auto;
	background: #66b3ff;
	opacity: 0.8;
  width: 100%;
}
.propic{
	border-radius: 720px;
	height: 200px;
	width: 60%;
	margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px white;
}
.project_list{
  width: 100%;
  background: url(../rocket4.png);
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
.projects{
  min-height: 150px;
  padding: 0px;
  display: inline-block;
  width: 25%;
	display: -moz-inline-stack;
	display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  _height: 250px;
}
.l{
  margin-left: 120px;
}
.r{
  margin-right: 120px;
}
.mL{
  margin-left: 30px;
}
.mR{
  margin-right: 30px;
}
.about_container{
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: -80px;
  height: 320px;
}
.me{
  border-radius: 10px;
  float: left;
  width: 30%;
  height: 300px;
  margin-top: 10px;
  margin-left: 60px;
}
.nav_left{
  border-left: 1px solid white;
}
.skills{
  width: 100%;
  height: 400px;
  background: #be5a52;
  margin-top: 50px;
}
.header2{
  width: 100%;
  font-style: italic;
  font-size: 50px;
  opacity: 0.9;
  font-family: signpainter;
  color: #66b3ff;
  display: block;
  height: 40px;
  text-align: center;
  margin-top: 5px;
  text-shadow: 1px 1px 0px white;
}
.last{
  margin-top: -19px;
  width: 100%;
  height: 400px;
  background: #66b3ff;
}
.header3{
  width: 100%;
  font-style: italic;
  font-size: 50px;
  opacity: 0.9;
  font-family: signpainter;
  color: #be5a52;
  display: block;
  height: 40px;
  text-align: center;
  margin-top: 5px;
  text-shadow: 1px 1px 0px white;
}
.skills_container{
  width: 100%;
  padding-left: 30px;
}
.skills_list{
  font-family: copperplate;
  color: white;
  text-shadow: 1px 1px 0px #66b3ff;
  font-size: 17px;
  min-height: 150px;
  padding: 0px;
  display: inline-block;
  width: 15%;
	display: -moz-inline-stack;
	display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  _height: 250px;
}
.last{
  background: url(../globe.jpg);
  background-position: contain;
  background-position: cover;
  background-attachment: fixed;
}
.skillsleft{
  margin-left: 70px;
}
.skillsbox{
  background: #66b3ff;
}
.skillLevel{
  color: #66b3ff;
  text-shadow: 1px 0px 0px white;
}
.fotter_sec{
  width: 33%;
  float: left;
  height: 150px;
}
.logo{
  color: white;
  font-size: 70px;
  text-shadow: 1px 1px 1px #be5a52; 
}
