/* ==========================================================================
   Base styles
   ========================================================================== */
/* Box Model Hack */
 * {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}
html {
  color: #222;
  font-size: 2px;
  line-height: 1.4;
}
body{
	padding: 0;
	margin: 0;
  font-size: 0;
}
.wrapper{
  margin: 0;
  background: #ecf0f1;
}
/*Header*/
.site_header{
  background: #be5a52;
  height: 620px;
  background: url(../img/mountains.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0; /* This removes 4px whitespace from children divs */
  position: relative;
}
.site_header_banner{
  height: 100%;
  width: 35%;
  background: black;
  opacity: 0.7;
  display: inline-block;
  font-size: 7rem; /* This removes 4px whitespace from divs */
  text-align: center;
}
.site_header_developer{
  font-size: 20rem;
  color: white;
  font-family: copperplate;
}
.site_header_quote{
  font-size: 13rem;
  color: white;
  font-family: Arial;
  font-weight: bold;
}
.site_header_quote_author{
  display: block;
  font-family: Arial;
  font-style: italic;
  padding-top: 30px;
}
.site_header_cloud {
  height: auto;
  width: 65%;
  display: inline-block;
  font-size: 7rem; /* This removes 4px whitespace from divs */
  position: absolute;
  top: 0;
  padding-top: 30px;
}
.fa{
  color: white;
  font-size: 50rem;
  width: 100%;
}
.fa-cloud{
  opacity: 0.5;
  color: black;
  font-weight: bolder;
  text-shadow: 0px 0px 10px white;
  text-align: center;
}
.site_header_cloud_temp{
  width: 20%;
  height: auto;
  color: red;
  font-weight: bolder;
  text-shadow: 1px 1px 0 black;
  font-size: 20rem;
  margin: 5% auto;
  list-style-type: none;
}
/*Header-end*/
/*Section one*/
.section_one{
  margin: 0 auto;
  height: auto;
  font-size: 0;
}
.section_one_headers {
  width: 100%;
  font-size: 0; /* This removes 'px' whitespace from children divs */
}
.section_one_header{
  font-style: italic;
  font-size: 25rem;
  font-family: copperplate;
  color: #2c3e50;
  display: inline-block;
  width: 50%;
  text-align: center;
}
.section_one_header:hover{
  text-shadow: 1px 1px 0px black;
}
.ambitions_container {
  height: auto;
  width: 50%;
  display: inline-block;
}
.ambitions{
  height: 90px;
  width: 98%;
  box-shadow: 5px 5px 5px black;
  margin: 0 auto;
}
.ambitions_middle{
  margin-top: 5px;
  margin-bottom: 5px;
}
.ambitions_paragraph{
  font-size: 9.5rem;
  display: block;
  padding: 20px 0 0 20px;
  font-family: Didot;
  font-weight: bolder;
  color: #2c3e50;
}
.section_one_article{
  width: 49.5%;
  height: 280px;
  background: #2c3e50;
  color: white;
  font-size: 9.5rem;
  text-align: left;
  padding: 5px;
  box-shadow: 5px 5px 5px black;
  font-family: Didot;
  display: inline-block;
  vertical-align: top;
}
/*section one end*/
/*section two*/
.section_two{
  background: #bdc3c7;
  height: 500px;
}
.section_two_header{
  display: block;
  font-style: italic;
  font-size: 25rem;
  font-family: copperplate;
  color: #2c3e50;
  text-align: center;
  text-shadow: 1px 1px 0px white;
}
.section_two_header:hover {
  text-shadow: 1px 1px 0px black;
}
.skills_container{
  display: block;
  padding: 50px 0 0 30px;
}
.skills_list{
  font-family: copperplate;
  color: white;
  text-shadow: 1px 1px 0px black;
  font-size: 10rem;
  min-height: 150px;
  padding: 0px;
  width: 15%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  _height: 250px;
  text-align: center;
}
.skills_box{
  background: #2c3e50;
}
.skill_level_container{
  text-shadow: 1px 1px 0px #2c3e50;
}
.skill_Level{
  color: #2c3e50;
  text-shadow: 1px 0px 0px white;
}
.skills_left{
  margin-left: 5%;
}
.skill:hover {
  text-shadow: 1px 1px 0px #66b3ff;
}
/*section two end*/
/*section three*/
.section_three{
  background: url(../img/iceberg.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.section_three_project_container{
  min-height: 150px;
  padding: 0px;
  display: inline-block;
  width: 25%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  _height: 250px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.section_three_project{
  width: 60%;
  margin: 0 auto;
  background: #2c3e50;
  text-align: center;
}
.section_three_project_header {
  font-size: 9rem;
  background: #2c3e50;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 15px 15px 0px 0px;
  color: white;
}
.section_three_project_header_adjustment{
  font-size: 7rem;
}
.section_three_project_header:hover,
.section_three_project_header_adjustment:hover {
   text-shadow: 1px 1px 0px #66b3ff;  
}
.propic{
  width: 98%;
  height: 173px;
  margin-bottom: 3px;
}
.propic_adjustment{
  margin-top: 5px;
}
/*section three end*/
/*footer*/
.site_footer{
	text-align: center;
	background:  #bdc3c7;
  color: #2c3e50;
  font-size: 9rem;
  height: 200px;
  overflow: hidden;
  text-shadow: 1px 1px 0px black;
}
.footerContainer{
  width: 100%;
  height: auto;
}
.footerContainer::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.footer_sec{
  width: 33.3333%;
  float: left;
  margin-top: 10px;
}
.logo{
  color: white;
  font-size: 20rem;
  text-shadow: 1px 1px 1px #2c3e50;
}
.bottom{
  height: 95px;
  padding-top: 30px;
}

.ambitionsHeader:hover{
  text-shadow: 1px 1px 0px black;
}